<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<profile enabled="true" defaultProvider="testProvider">
			<providers>
				<clear />
				<add name="testProvider" type="DgonDotNet.Blog.Samples.AspNetProfiles.ProfileTestProvider, DgonDotNet.Blog.Samples.AspNetProfiles"/>
			</providers>
			<properties>
				<clear/>
				<add name="Gender" type="System.Nullable`1[System.Byte]" serializeAs="ProviderSpecific" defaultValue="[null]" />
				<add name="DayOfBirth" type="System.Nullable`1[System.DateTime]" serializeAs="ProviderSpecific" defaultValue="[null]"/>
			</properties>
		</profile>
		
	</system.web>
</configuration>