<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="featureSwitcher" type="FeatureSwitcher.Configuration.SectionGroup, FeatureSwitcher.Configuration">
			<section name="default" type="FeatureSwitcher.Configuration.DefaultSection, FeatureSwitcher.Configuration"/>
			<section name="features" type="FeatureSwitcher.Configuration.FeaturesSection, FeatureSwitcher.Configuration"/>
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="owin:HandleAllRequests" value="true" />
		<add key="webPages:Enabled" value="false" />
	</appSettings>

	<featureSwitcher>
		<default featuresEnabled="false"/>
		<features configSource="Features.config"/>
	</featureSwitcher>

	<system.web>
		<compilation debug="true" targetFramework="4.5.2">

			<buildProviders>
				<add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
				<add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
			</buildProviders>
		</compilation>
		<httpRuntime targetFramework="4.5.2" />
	</system.web>

	<system.web.webPages.razor>
		<pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
			<namespaces>
				<add namespace="Nancy.ViewEngines.Razor" />
				<add namespace="FeatureSwitcher" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>

	<razor disableAutoIncludeModelNamespace="false">
		<assemblies>
			<add assembly="FeatureSwitcher" />
			<add assembly="Nancy.ViewEngines.Razor" />
		</assemblies>
		<namespaces>
			<add namespace="FeatureSwitcher" />
			<add namespace="Nancy.ViewEngines.Razor" />
		</namespaces>
	</razor>
</configuration>
