@model DgonDotNet.Blog.Samples.DynamicCollections.Models.DisplayableThing

<tr>
	<td>
		@Html.DisplayFor(m => m.Number)
	</td>
	<td>
		@Html.DisplayFor(m => m.Text)
	</td>
	<td>
		@Html.DisplayFor(m => m.IsEven)
	</td>
</tr>
