@model dynamic

@{
	ViewBag.Title = "title";
}

<h2>Heading</h2>

@section scripts
{
	<script type="text/javascript">
		$(function () {
			alert(jQuery.fn.jquery + ' ' + jQuery.ui.version);
		});
	</script>
}
