@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "Shared/_layout";
	ViewBag.TopNavigation = "Home";
}


<div class="large-8 medium-8 columns">
	<h3>What's the point?</h3>
	<p>Sometimes feature branches are not an option.</p>
	<p>And I really, really need the "<em>Top Level</em>" feature to not be active at certain times.</p>
</div>