@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "Shared/_layout";
	ViewBag.TopNavigation = "Home";
}


<div class="large-8 medium-8 columns">
	<h3>What's the point?</h3>
	<p>Toggling Features is nice</p>
</div>