<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="myConfiguration" type="DgonDotNet.Blog.Samples.ConfigurationValidation.MySection, DgonDotNet.Blog.Samples.ConfigurationValidation" />
	</configSections>
	<myConfiguration>
		<poorlyNamed poorlyNamed="poor" />
		<neatlyNamed neatEnough="" />		
	</myConfiguration>
</configuration>